<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infinium.um.login.dao.CredentialsInfoDaoMapper">
    <resultMap id="BaseResultMap" type="com.infinium.um.db.repository.entity.CredentialsInfo">
        <id column="Fuid" jdbcType="BIGINT" property="uid"/>
        <id column="Fcard_type" jdbcType="TINYINT" property="cardType"/>
        <result column="Fhist_seq" jdbcType="INTEGER" property="histSeq"/>
        <result column="Fname" jdbcType="VARCHAR" property="name"/>
        <result column="Fen_name" jdbcType="VARCHAR" property="enName"/>
        <result column="Ffirst_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="Fmiddle_name" jdbcType="VARCHAR" property="middleName"/>
        <result column="Flast_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="Fcard_front" jdbcType="VARCHAR" property="cardFront"/>
        <result column="Fcard_back" jdbcType="VARCHAR" property="cardBack"/>
        <result column="Fcard_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="Fliving_photo" jdbcType="VARCHAR" property="livingPhoto"/>
        <result column="Fissuer" jdbcType="VARCHAR" property="issuer"/>
        <result column="Fmain" jdbcType="VARCHAR" property="main"/>
        <result column="Feffective_date" jdbcType="DATE" property="effectiveDate"/>
        <result column="Fvalid_date" jdbcType="DATE" property="validDate"/>
        <result column="Fvisa_type" jdbcType="VARCHAR" property="visaType"/>
        <result column="Fvisa_valid_date" jdbcType="DATE" property="visaValidDate"/>
        <result column="Fhk_id_card_symbol" jdbcType="VARCHAR" property="hkIdcardSymbol"/>
        <result column="Fhk_permanent" jdbcType="VARCHAR" property="hkPermanent"/>
        <result column="Fstatus" jdbcType="TINYINT" property="status"/>
        <result column="Fsign" jdbcType="VARCHAR" property="sign"/>
        <result column="Fcreate_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="Fmodify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
      Fuid, Fhist_seq, Fname, Fen_name, Ffirst_name, Fmiddle_name, Flast_name,
      Fcard_front, Fcard_back, Fcard_type, Fcard_no,
      Fliving_photo, Fissuer, Fmain,Feffective_date,Fvalid_date,Fvisa_type,Fvisa_valid_date,Fhk_id_card_symbol,Fhk_permanent, Fstatus, Fsign,
      Fcreate_time, Fmodify_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.infinium.um.db.repository.entity.CredentialsInfoKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credentials_info
        where Fuid = #{uid,jdbcType=BIGINT}
        and Fcard_type = #{cardType,jdbcType=TINYINT}
        and Fhist_seq=#{histSeq,jdbcType=INTEGER}
    </select>
    <select id="findList" parameterType="com.infinium.um.db.repository.entity.CredentialsInfo"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credentials_info
        <where>
            <if test="histSeq !=null">
                and Fhist_seq = #{histSeq}
            </if>
            <if test="uid !=null">
                and Fuid = #{uid}
            </if>
            <if test="cardType !=null">
                AND Fcard_type = #{cardType}
            </if>
            <if test="cardNo !=null and cardNo !=''">
                AND Fcard_no = #{cardNo}
            </if>
            <if test="status !=null">
                AND Fstatus = #{status}
            </if>
            <if test="main !=null and main != ''">
                AND Fmain = #{main}
            </if>
        </where>
    </select>
    <select id="getList" resultType="com.infinium.um.db.repository.entity.CredentialsInfo">
        select
        <include refid="Base_Column_List"/>
        from t_credentials_info limit 20
    </select>
    <insert id="insert" parameterType="com.infinium.um.db.repository.entity.CredentialsInfo">
    insert into t_credentials_info (Fuid, Fhist_seq, Fname, Fen_name, Ffirst_name, Fmiddle_name, Flast_name,
      Fcard_front, Fcard_back, Fcard_type, Fcard_no,
      Fliving_photo, Fissuer, Fmain,Feffective_date,Fvalid_date,Fvisa_type,Fvisa_valid_date,
      Fhk_id_card_symbol,Fhk_permanent,Fstatus, Fsign, Fcreate_time,
      Fmodify_time)
    values (#{uid,jdbcType=BIGINT}, #{histSeq}, #{name,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR},
      #{firstName,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},
      #{cardFront,jdbcType=VARCHAR}, #{cardBack,jdbcType=VARCHAR}, #{cardType,jdbcType=TINYINT}, #{cardNo,jdbcType=VARCHAR},
      #{livingPhoto,jdbcType=VARCHAR}, #{issuer,jdbcType=VARCHAR}, #{main,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=DATE}, #{validDate,jdbcType=DATE},
      #{visaType,jdbcType=VARCHAR},#{visaValidDate,jdbcType=DATE},
      #{hkIdcardSymbol,jdbcType=VARCHAR}, #{hkPermanent,jdbcType=VARCHAR},#{status,jdbcType=TINYINT}, #{sign,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.infinium.um.db.repository.entity.CredentialsInfo">
        update t_credentials_info
        <set>
            <if test="name != null">
                Fname = #{name,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                Fen_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                Ffirst_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="middleName != null">
                Fmiddle_name = #{middleName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                Flast_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="cardFront != null">
                Fcard_front = #{cardFront,jdbcType=VARCHAR},
            </if>
            <if test="cardBack != null">
                Fcard_back = #{cardBack,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                Fcard_no = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="livingPhoto != null">
                Fliving_photo = #{livingPhoto,jdbcType=VARCHAR},
            </if>
            <if test="issuer != null">
                Fissuer = #{issuer,jdbcType=VARCHAR},
            </if>
            <if test="main != null">
                Fmain = #{main,jdbcType=VARCHAR},
            </if>
            <if test="effectiveDate != null">
                Feffective_date = #{effectiveDate,jdbcType=DATE},
            </if>
            <if test="validDate != null">
                Fvalid_date = #{validDate,jdbcType=DATE},
            </if>
            <if test="visaType != null">
                Fvisa_type = #{visaType,jdbcType=VARCHAR}
            </if>
            <if test="visaValidDate != null">
                Fvisa_valid_date = #{visaValidDate,jdbcType=DATE},
            </if>
            <if test="hkIdcardSymbol != null">
                Fhk_id_card_symbol = #{hkIdcardSymbol,jdbcType=VARCHAR},
            </if>
            <if test="hkPermanent != null">
                Fhk_permanent = #{hkPermanent,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                Fstatus = #{status,jdbcType=TINYINT},
            </if>
            <if test="sign != null">
                Fsign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="histSeq != null">
                Fhist_seq=#{histSeq,jdbcType=INTEGER}
            </if>
        </set>
        <where>
            Fuid = #{uid,jdbcType=BIGINT} AND Fcard_type = #{cardType,jdbcType=TINYINT}
        </where>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.infinium.um.db.repository.entity.CredentialsInfo">
        update t_credentials_info
        set
        Fname = #{name,jdbcType=VARCHAR},
        Fen_name = #{enName,jdbcType=VARCHAR},
        Ffirst_name = #{firstName,jdbcType=VARCHAR},
        Fmiddle_name = #{middleName,jdbcType=VARCHAR},
        Flast_name = #{lastName,jdbcType=VARCHAR},
        Fcard_front = #{cardFront,jdbcType=VARCHAR},
        Fcard_back = #{cardBack,jdbcType=VARCHAR},
        Fcard_no = #{cardNo,jdbcType=VARCHAR},
        Fliving_photo = #{livingPhoto,jdbcType=VARCHAR},
        Fissuer = #{issuer,jdbcType=VARCHAR},
        Fmain = #{main,jdbcType=VARCHAR},
        Feffective_date = #{effectiveDate,jdbcType=DATE},
        Fvalid_date = #{validDate,jdbcType=DATE},
        Fvisa_type = #{visaType,jdbcType=VARCHAR},
        Fvisa_valid_date = #{visaValidDate,jdbcType=DATE},
        Fhk_id_card_symbol = #{hkIdcardSymbol,jdbcType=VARCHAR},
        Fhk_permanent = #{hkPermanent,jdbcType=VARCHAR},
        Fstatus = #{status,jdbcType=TINYINT},
        Fsign = #{sign,jdbcType=VARCHAR},
        Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
        Fhist_seq=#{histSeq,jdbcType=INTEGER}
        <where>
            Fuid = #{uid,jdbcType=BIGINT} AND Fcard_type = #{cardType,jdbcType=TINYINT}
        </where>
    </update>
</mapper>